---
import Layout from "../layouts/Layout.astro";
import hero from "../assets/images/work/ami/ami-hero.png?url";
import courseDetails from "../assets/images/work/ami/project-screenshots-ami-course-details.png?url";
import lessons from "../assets/images/work/ami/project-screenshots-ami-lessons-1.png?url";
import planComparison from "../assets/images/work/ami/project-screenshots-ami-plan-comparison.png?url";
import courseCarousel from "../assets/images/work/ami/project-screenshots-ami-course-carousel-1.png?url";
import illustrations from "../assets/images/work/ami/project-screenshots-ami-graphics.png?url";
import proCourseCarousel from "../assets/images/work/ami/project-screenshots-ami-course-carousel-2.png?url";
import mainView from "../assets/images/work/ami/project-screenshot.png?url";
import SectionContainer from "../components/foundation/SectionContainer.astro";
import LargeContainer from "../components/foundation/LargeContainer.astro";
import SmallContainer from "../components/foundation/SmallContainer.astro";
---

<Layout title="Actionable Marketing Institute Case Study">
	<main>
		<header
			class="bg-violet-200 pb-32 pt-8 md:px-10 md:pb-32 md:pt-16 lg:pb-56 lg:pt-20"
		>
			<div class="mx-auto w-full max-w-7xl">
				<img
					src={hero}
					alt="Actionable Marketing Institute Course Screenshot"
					class="mx-auto w-full pb-12 md:pb-8"
				/>
				<div
					class="grid gap-y-6 px-4 md:gap-x-8 md:px-0 lg:grid-cols-[3fr_1fr] lg:gap-x-16"
				>
					<div class="grid content-start gap-y-2 lg:gap-y-4">
						<h1
							class="text-3xl font-medium leading-normal md:text-4xl md:leading-normal lg:text-5xl"
						>
							Actionable Marketing Institute
						</h1>
						<p
							class="text-sm leading-loose md:text-base md:leading-loose lg:text-lg lg:leading-loose"
						>
							A look at the process of designing & building engaging, user
							friendly, and customizable landing pages for the Actionable
							Marketing&nbsp;Institute.
						</p>
					</div>
					<aside
						class="border-t border-solid border-slate-300 pt-6 text-sm leading-loose text-slate-600 lg:justify-self-end lg:border-0 lg:pt-0 lg:text-base"
					>
						<ul class="grid gap-y-2 md:grid-cols-2 md:gap-x-4 lg:grid-cols-1">
							<li>
								<span class="font-medium lg:text-base lg:leading-loose"
									>My role</span
								>
								<ul class="flex flex-wrap items-baseline gap-x-2">
									<li
										class="flex items-center gap-x-2 after:inline-block after:h-1 after:w-1 after:rounded-sm after:bg-slate-600"
									>
										Research
									</li>
									<li
										class="flex items-center gap-x-2 after:inline-block after:h-1 after:w-1 after:rounded-sm after:bg-slate-600"
									>
										Web design
									</li>
									<li>Front-end development</li>
								</ul>
							</li>
							<li>
								<span class="font-medium lg:text-base lg:leading-loose"
									>Tools used</span
								>
								<ul class="flex flex-wrap items-baseline gap-x-2">
									<li
										class="flex items-center gap-x-2 after:inline-block after:h-1 after:w-1 after:rounded-sm after:bg-slate-600"
									>
										Sketch
									</li>
									<li
										class="flex items-center gap-x-2 after:inline-block after:h-1 after:w-1 after:rounded-sm after:bg-slate-600"
									>
										WordPress
									</li>
									<li
										class="flex items-center gap-x-2 after:inline-block after:h-1 after:w-1 after:rounded-sm after:bg-slate-600"
									>
										HTML
									</li>
									<li
										class="flex items-center gap-x-2 after:inline-block after:h-1 after:w-1 after:rounded-sm after:bg-slate-600"
									>
										CSS (SCSS)
									</li>
									<li>jQuery</li>
								</ul>
							</li>
						</ul>
					</aside>
				</div>
			</div>
		</header>
		<div class="-mt-20 leading-loose lg:-mt-28">
			<SectionContainer>
				<LargeContainer>
					<div class="bg-white px-4 pb-12 pt-4 md:pb-20 md:pt-10">
						<SmallContainer>
							<div class="grid gap-y-4">
								<p class="lg:text-lg lg:leading-loose">
									As the marketing landscape becomes increasingly competitive,
									it's crucial for businesses to make every interaction with
									their target audience count. One way to do that is by creating
									landing pages that are fast, engaging, and user-friendly.
								</p>
								<p class="lg:text-lg lg:leading-loose">
									This project reflection will take a closer look at the
									strategy, tactics, and tools used to create high-performing
									landing pages for the Actionable Marketing Institute that
									delivered results.
								</p>
								<h2 class="pt-8 text-2xl font-medium lg:text-3xl">
									About the Actionable Marketing Institute
								</h2>
								<p>
									The Actionable Marketing Institute (AMI) is a libarary of
									courses that provide actionable insights and practical tips
									for marketers to implement in their own marketing strategies.
									Topics include content marketing, social media marketing,
									email marketing, search engine optimization, and analytics.
								</p>
								<h2 class="pt-8 text-2xl font-medium lg:text-3xl">
									What problem are we solving?
								</h2>
								<p>
									The CoSchedule marketing team had been building a library of
									marketing courses on Teachable* over the past three years. The
									courses are perfect for marketers looking for no-fluff
									training, however the courses were highly under utilized.
								</p>
								<p>
									The constraints of the Teachable platform created a poor user
									experience for prospective students. It was hard to view the
									full course list and understand the value of AMI. We wanted
									prospective students to be able to find exactly what they
									wanted to learn, when they wanted to learn it.
								</p>
								<p>
									In order to make AMI more user-friendly and position it as the
									best value we built a new homepage and individual course
									pages.
								</p>
								<p class="italic">
									*Teachable is an all-in-one platform that helps you create and
									sell course online.
								</p>
								<h2 class="pt-8 text-2xl font-medium lg:text-3xl">
									Challenges
								</h2>
								<p>
									The main hurdle to overcome was the Teachable platform.
									Teachable is built for people who want to get up and running
									quickly selling online courses. It's great for managing
									courses, users, and creating basic sales pages with no coding
									experiences necessary.
								</p>
								<p>
									We had to figure out how to incorporate the features and
									functionality we wanted using Teachable. Or find a better
									solution.
								</p>
								<p>
									Another challenging requirement was giving the marketing team
									full control to add new course pages and make updates to the
									page content on the fly.
								</p>
								<h2 class="pt-8 text-2xl font-medium lg:text-3xl">Process</h2>
								<h3 class="pt-8 text-xl font-medium lg:text-2xl">Research</h3>
								<p>
									The first step was to figure out the challenge presented by
									Teachable. I had never used Teachable before so I started by
									familiarizing myself with the out-of-the-box functionality and
									documentation. How did the page builder work? What page
									elements and layout options were available? Could I customize
									anything?
								</p>
								<p>
									I also looked at other Teachable pages: What did they look
									like? Did they have similar features to what we wanted?
								</p>
								<p>
									I found the page builder was extremely limiting. I could
									include custom code snippets, but I would have to build them
									outside of Teachable and then drop them in as one long line of
									code, inline styles and all. What a nightmare to troubleshoot!
									And most course pages looked the same, not what we were going
									for.
								</p>
								<p>
									Knowing that we’d have to hand-code the elements to
									incorporate the features we wanted, we wanted a better
									solution than custom code snippets. Do we have to use
									Teachable? Could we build our own pages?
								</p>
								<p>
									After discussions with the team, we decided not to use
									Teachable pages but to build our own Wordpress templates and
									manage all the page content in Wordpress. This allowed us to
									think big and add all the features and functionality we wanted
									to convert prospective students. It also gave the marketing
									team full control to create new pages and change the content
									as needed for promotions or other marketing initiatives.
								</p>
								<p>
									Whew! Now that we have that figured out, let’s move on to the
									fun stuff!
								</p>
								<h3 class="pt-8 text-xl font-medium lg:text-2xl">Wireframes</h3>
								<h4 class="pt-8 text-lg font-medium lg:text-xl">
									Course Pages
								</h4>
								<p>
									There are a few key areas I focused on while wireframing: the
									hero section, the lessons, and the plan comparison
								</p>
							</div>
						</SmallContainer>
						<LargeContainer>
							<img
								src={courseDetails}
								title="AMI Course details wireframe"
								class="mb-8 mt-16 border border-solid border-slate-200"
							/>
						</LargeContainer>
						<SmallContainer>
							<div class="grid gap-y-4">
								<p>
									<span class="font-medium">Hero</span> – To give prospective students
									a quick course snapshot I included a few course details including
									course level, course category, est. time to complete, number of
									lessons, and number of resources.
								</p>
							</div>
						</SmallContainer>
						<LargeContainer>
							<img
								src={lessons}
								title="AMI Course lessons wireframe"
								class="mb-8 mt-16 border border-solid border-slate-200"
							/>
						</LargeContainer>
						<SmallContainer>
							<div class="grid gap-y-4">
								<p>
									<span class="font-medium">Lessons</span> – I played around with
									various lesson layouts including a condensed list with a video
									preview compared to an expanded list with a short description for
									each lesson.
								</p>
							</div>
						</SmallContainer>
						<LargeContainer>
							<img
								src={planComparison}
								title="Plan comparison wireframe"
								class="mb-8 mt-16 border border-solid border-slate-200"
							/>
						</LargeContainer>
						<SmallContainer>
							<div class="grid gap-y-4">
								<p>
									<span class="font-medium">Plan comparison</span> – We wanted to
									emphasize the value of purchasing AMI Pro which includes all courses
									vs purchasing a single course. I chose a two column layout to compare
									plans side by side.
								</p>
								<h4 class="pt-8 text-lg font-medium lg:text-xl">Homepage</h4>
								<p>
									Originally we were going to build a course catalog and a
									homepage. Through the wireframing process it became clear how
									similar the pages were. Combining the pages streamlined the
									user experience. No switching between pages, now all the
									information would be on one page. The course catalog became
									the main feature on the homepage.
								</p>
							</div>
						</SmallContainer>
						<LargeContainer>
							<img
								src={courseCarousel}
								title="AMI Pro course carousel wireframe"
								class="mb-8 mt-16 border border-solid border-slate-200"
							/>
						</LargeContainer>
						<SmallContainer>
							<div class="grid gap-y-4">
								<p>
									<span class="font-medium">Course catalog</span> – First I explored
									how to display the course cards, comparing the pros and cons of
									showing all courses like a library or condensing them into a carousel.
									The carousel allows users to look through the courses without completely
									taking over the page.
								</p>
								<p>
									If a user is looking for a specific type of course, I included
									the ability to filter the courses by selecting a category.
								</p>
								<p>
									I also tried various card layouts, taking into consideration
									what was the most valuable information to include. For
									example, one variation included the course instructor—although
									our instructors are marketing wizards, they are probably not
									well known. Including their names is not as valuable as other
									course details. Ultimately, each course card includes the
									title, description, number of lessons, estimated time to
									completion, and certification if applicable.
								</p>
							</div>
						</SmallContainer>
						<LargeContainer>
							<img
								src={illustrations}
								title="Custom illustrations for Actionable Marketing Institute Courses"
								class="mb-8 mt-16 border border-solid border-slate-200"
							/>
						</LargeContainer>
						<SmallContainer>
							<div class="grid gap-y-4">
								<h3 class="pt-8 text-xl font-medium lg:text-2xl">Design</h3>
								<p>
									Actionable Marketing Institute was formerly CoSchedule
									Academy. Along with a new name AMI got a new brand crafted by
									our Senior Graphic Designer, who created all the graphics for
									these pages.
								</p>
								<p>
									The AMI brand is fun, trendy, and eye-catching with bright
									colors and unique iconography for each course. The goal of the
									design was to complement the new brand, allowing the
									incredible illustrations to stand out.
								</p>
							</div>
						</SmallContainer>
						<LargeContainer>
							<img
								src={proCourseCarousel}
								title="AMI Pro course carousel"
								class="mb-8 mt-16 border border-solid border-slate-200"
							/>
						</LargeContainer>
						<SmallContainer>
							<div class="grid gap-y-4">
								<h3 class="pt-8 text-xl font-medium lg:text-2xl">Build</h3>
								<p>
									An important requirement of this project was to give the
									marketing team complete control over the page content to
									update as needed, and allow them to add new course pages as
									new courses are released. This meant that everything needed to
									be editable from the copy to the color.
								</p>
								<p>
									The pages were built as templates and use Advanced Custom
									Fields and PHP to dynamically add content and color.
								</p>
								<p>Behind the scenes functionality:</p>
								<ul class="grid list-disc gap-y-2 pl-8">
									<li>
										Flexible layouts to accommodate for more or less content on
										each page.
									</li>
									<li>Customizable colors to make each page unique.</li>
									<li>
										Optional elements, such as a hello bar and exit offer that
										can be shown or hidden at any time.
									</li>
									<li>
										Promo callouts add arrows and additional copy that can be
										added when running a promotion.
									</li>
									<li>
										A Course carousel that is fully responsive, filterable, and
										adapts as new courses are added to the list.
									</li>
								</ul>
							</div>
						</SmallContainer>
						<LargeContainer>
							<img
								src={mainView}
								title="AMI Pro course carousel"
								class="mb-8 mt-16 border border-solid border-slate-200"
							/>
						</LargeContainer>
						<SmallContainer>
							<div class="grid gap-y-4">
								<h2 class="pt-8 text-2xl font-medium lg:text-3xl">Outcomes</h2>
								<p>
									Since launching the new website pages the marketing team has
									been able to amp up promotion of the Actionable Marketing
									Institute. We’ve seen significantly higher conversion rates
									and consistent growth.
								</p>
								<p class="pt-8 text-sm italic text-slate-600">
									Actionable Marketing Institute is a property of CoSchedule.
									All rights reserved.
								</p>
							</div>
						</SmallContainer>
					</div>
				</LargeContainer>
			</SectionContainer>
		</div>
	</main>
</Layout>
