---
import LargeContainer from "./foundation/LargeContainer.astro";
import SmallContainer from "./foundation/SmallContainer.astro";

const h3 = "text-xl font-medium";
const p = "mb-4 border-b border-solid border-gray-300 pb-4 leading-relaxed";
const ul = "flex flex-wrap gap-x-2 text-sm";
const li =
	"flex items-center gap-x-2 after:inline-block after:h-1 after:w-1 after:rounded-sm after:bg-gray-700 text-gray-500";
const liLast = "text-gray-500";
---

<LargeContainer>
	<div class="grid gap-y-16">
		<div class="grid gap-y-1">
			<div class="font-mono-space leading-normal">Process</div>
			<h2 class="text-4xl font-medium leading-normal">End-to-end design</h2>
			<p class="leading-normal">
				As a designer I’m involved in all parts of the project lifecycle — from
				brainstorm to launch.
			</p>
		</div>
		<SmallContainer>
			<div class="grid gap-y-16">
				<div class="grid gap-y-4 md:grid-cols-[1fr_2fr] md:gap-x-6">
					<h3 class={h3}>Observe & Define</h3>
					<div class="">
						<p class={p}>
							Understanding how customers are using the product. And identifying
							improvement&nbsp;opportunities.
						</p>
						<ul class={ul}>
							<li class={li}>Google Docs</li>
							<li class={liLast}>InVision Freehand</li>
						</ul>
					</div>
				</div>
				<div class="grid gap-y-4 md:grid-cols-[1fr_2fr] md:gap-x-6">
					<h3 class={h3}>Ideate & Prototype</h3>
					<div>
						<p class={p}>
							Exploring possible solutions to challenge assumptions with
							wireframes and design&nbsp;mockups.
						</p>
						<ul class={ul}>
							<li class={li}>Balsamiq</li>
							<li class={li}>Figma</li>
							<li class={li}>Sketch</li>
							<li class={liLast}>Adobe Illustrator</li>
						</ul>
					</div>
				</div>
				<div class="grid gap-y-4 md:grid-cols-[1fr_2fr] md:gap-x-6">
					<h3 class={h3}>Build & Launch</h3>
					<div>
						<p class={p}>
							Developing a minimum viable product to get in the hands of
							prospects, leads, and&nbsp;customers.
						</p>
						<ul class={ul}>
							<li class={li}>HTML</li>
							<li class={li}>CSS (SASS)</li>
							<li class={li}>Javascript</li>
							<li class={liLast}>React</li>
						</ul>
					</div>
				</div>
				<div class="grid gap-y-4 md:grid-cols-[1fr_2fr] md:gap-x-6">
					<h3 class={h3}>Test & Refine</h3>
					<div>
						<p class={p}>
							Gaining insight and making improvements based on analytics and
							real user&nbsp;interactions.
						</p>
						<ul class={ul}>
							<li class={li}>Hotjar</li>
							<li class={li}>VWO</li>
							<li class={li}>Google Analytics</li>
							<li class={liLast}>Google Search Console</li>
						</ul>
					</div>
				</div>
			</div>
		</SmallContainer>
	</div>
</LargeContainer>
