---
import SmallContainer from "./foundation/SmallContainer.astro";
import LargeContainer from "./foundation/LargeContainer.astro";
import ami from "../assets/images/work/ami/project-screenshot.png?url";
import hs from "../assets/images/work/hs/project-screenshot.png?url";
import myChart from "../assets/images/work/my-chart/project-screenshot.png?url";
import cosWebsite from "../assets/images/work/cos-website/project-screenshot.png?url";

// const project = [
// 	{
// 		imageSrc: "/images/work/ami.png",
// 		imageAlt: "Actionable Marketing Institute by CoSchedule",
// 		caption: "Actionable Marketing Institute powered by CoSchedule",
// 		title: "Online Marketing Course Pages",
// 		body: "The challenge: create engaging, user friendly, customizable web pages to elevate the Actionable Marketing Institute.",
// 		type: "",
// 		href: "/work/actionable-marketing-institute",
// 	},
// 	{
// 		imageSrc: "/images/work/hs.png",
// 		imageAlt: "Headline Studio by CoSchedule",
// 		caption: "Headline Studio by CoSchedule",
// 		title: "New Product Sign Up Page",
// 		body: "The challenge: design & build a high converting product page with sign up for the new Headline Studio app.",
// 		type: "",
// 		href: "/work/headline-studio",
// 	},
// 	{
// 		imageSrc: "/images/work/hs-app.png",
// 		imageAlt: "Headline Studio by CoSchedule",
// 		caption: "Headline Studio by CoSchedule",
// 		title: "Feature Education & User Adoption",
// 		body: "The challenge: help users understand how to use one of the most powerful features in Headline Studio.",
// 		type: "",
// 		href: "",
// 	},
// ];

//class="group grid gap-y-8 before:absolute before:-inset-x-4 before:-top-4 before:bottom-0 before:z-0 before:border before:border-solid before:border-transparent before:p-4 before:transition before:duration-300 before:ease-in-out hover:before:border-gray-200"
---

<LargeContainer>
	<div class="grid gap-y-16 pb-24">
		<a href="" class="grid gap-y-8">
			<div
				class="overflow-hidden bg-[#dfe8f9] px-6 pt-4 transition duration-300 ease-in-out hover:scale-102 md:px-10 md:pt-8"
			>
				<img
					src={hs}
					alt="Headline Studio Screenshot"
					class="mx-auto w-full drop-shadow-2xl"
				/>
			</div>
			<SmallContainer>
				<div class="grid gap-y-1">
					<h2
						class="justify-self-start text-2xl font-medium leading-normal md:text-4xl md:leading-normal"
					>
						Headline Studio App
					</h2>
					<div class="grid gap-y-4">
						<p class="justify-self-start leading-loose">
							A powerful tool that can help content creators improve the
							effectiveness of their headlines and increase engagement with
							their content.
						</p>
						<p class="justify-self-start leading-loose">
							Designed and built an AI-powered feature for generating headline
							ideas...
						</p>
					</div>
				</div>
			</SmallContainer>
		</a>
		<a href="/mychart" class="grid gap-y-8">
			<div
				class="overflow-hidden bg-slate-200 px-6 pt-4 transition duration-300 ease-in-out hover:scale-102 md:px-10 md:pt-8"
			>
				<img
					src={myChart}
					alt="MyChart Sign Up Screenshot"
					class="mx-auto w-full drop-shadow-2xl"
				/>
			</div>
			<SmallContainer>
				<div class="grid gap-y-1">
					<h2
						class="justify-self-start text-2xl font-medium leading-normal md:text-4xl md:leading-normal"
					>
						MyChart by Epic
					</h2>
					<div class="grid gap-y-4">
						<p class="justify-self-start leading-loose">
							An online patient portal and electronic health record (EHR) system
							that allows patients to securely access their personal health
							information from anywhere at any time.
						</p>
						<p class="justify-self-start leading-loose">
							A case study of the sign in experience, highlighting improvements
							to the user interface, accessibility, and user experience.
						</p>
					</div>
				</div>
			</SmallContainer>
		</a>
		<a href="" class="grid gap-y-8">
			<div
				class="overflow-hidden bg-[#fde5df] px-6 pt-4 transition duration-300 ease-in-out hover:scale-102 md:px-10 md:pt-8"
			>
				<img
					src={cosWebsite}
					alt="CoSchedule.com Homepage Screenshot"
					class="mx-auto w-full drop-shadow-2xl"
				/>
			</div>
			<SmallContainer>
				<div class="grid gap-y-1">
					<h2
						class="justify-self-start text-2xl font-medium leading-normal md:text-4xl md:leading-normal"
					>
						CoSchedule.com
					</h2>
					<div class="grid gap-y-4">
						<p class="justify-self-start leading-loose">
							A critical hub for customers and prospects, offering product
							information and a range of marketing resources. With millions of
							views each year, it's a vital component of the company's digital
							strategy.
						</p>
						<p class="justify-self-start leading-loose">
							Rebuilt the website using a modern technology stack to improve
							page performance and search engine optimization (SEO).
						</p>
					</div>
				</div>
			</SmallContainer>
		</a>
		<a href="" class="grid gap-y-8">
			<div
				class="overflow-hidden bg-violet-200 px-6 pt-4 transition duration-300 ease-in-out hover:scale-102 md:px-10 md:pt-8"
			>
				<img
					src={ami}
					alt="Actionable Marketing Institute Screenshot"
					class="mx-auto w-full drop-shadow-2xl"
				/>
			</div>
			<SmallContainer>
				<div class="grid gap-y-1">
					<h2
						class="justify-self-start text-2xl font-medium leading-normal md:text-4xl md:leading-normal"
					>
						Actionable Marketing Instititue
					</h2>
					<div class="grid gap-y-4">
						<p class="justify-self-start leading-loose">
							A library of online resources and training designed to help
							marketers and business owners improve their skills and knowledge
							in digital marketing.
						</p>
						<p class="justify-self-start leading-loose">
							To improve the overall user experience I designed & built custom
							landing pages for each course that are engaging, user friendly,
							and customizable.
						</p>
					</div>
				</div>
			</SmallContainer>
		</a>
		<a href="" class="grid gap-y-8">
			<div
				class="overflow-hidden bg-[#dfe8f9] px-6 pt-4 transition duration-300 ease-in-out hover:scale-102 md:px-10 md:pt-8"
			>
				<img
					src={hs}
					alt="Headline Studio Screenshot"
					class="mx-auto w-full drop-shadow-2xl"
				/>
			</div>
			<SmallContainer>
				<div class="grid gap-y-1">
					<h2
						class="justify-self-start text-2xl font-medium leading-normal md:text-4xl md:leading-normal"
					>
						Headline Studio
					</h2>
					<div class="grid gap-y-4">
						<p class="justify-self-start leading-loose">
							A powerful tool that can help content creators improve the
							effectiveness of their headlines and increase engagement with
							their content.
						</p>
						<p class="justify-self-start leading-loose">
							With the launch of a new app we needed a fresh product page and
							signup process. I designed & built a low friction, conversion
							focused landing page.
						</p>
					</div>
				</div>
			</SmallContainer>
		</a>
	</div>
</LargeContainer>
